<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/assets/plyr/plyr.css">
        <link rel="stylesheet" href="/assets/css/app.css" />
        <script src="/assets/jquery/jquery.slim.min.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/assets/plyr/plyr.min.js"></script>
        <script src="/assets/socket.io/socket.io.slim.js"></script>
    </head>
    <body>
        <header>
            <h1>
                Derniers ralentis
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#replayModal" data-backdrop="static">Y'a litige !</button>
            </h1>
        </header>

        <div class="container-fluid">
            <div class="row">
                {% for replay in replays %}
                    <div class="col-3">
                        <div class="save">
                            <div class="corner"></div>
                            <div class="label">
                                {{ replay.recordedAt|date('d M Y') }}<br />
                                {{ replay.recordedAt|date('H:i') }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="modal fade" id="replayModal" tabindex="-1" role="dialog" aria-labelledby="replayModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <video id="player" height="100%" controls></video>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            <button type="button" id="save-replay" class="btn btn-primary">Sauvergarder</button>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $(function() {
                    const player = new Plyr('#player', {
                        keyboard: { focused: true, global: true },
                        seekTime: .1,
                    });

                    $('#save-replay').on('click', function () {
                        $.post({
                            url: '/save',
                            dataType: 'json',
                            data: {
                                file: player.source
                            }
                        }).done(function () {
                            $('#replayModal').find('.modal-body').prepend($('<div/>', {
                                'class': 'alert alert-success',
                                text: 'Replay sauvegardé !',
                            }));
                        }).fail(function (jqXHR) {
                            $('#replayModal').find('.modal-body').prepend($('<div/>', {
                                'class': 'alert alert-danger',
                                text: jqXHR.responseJSON.error,
                            }));
                        });
                    });

                    $('#replayModal').on('show.bs.modal', function () {
                        $.get('/replay/5').done(function(result) {
                            player.source = {
                                type: 'video',
                                sources: [{
                                    src: result,
                                    type: 'video/mp4',
                                }],
                            };
                            player.play();
                        });
                    }).on('hide.bs.modal', function() {
                        player.stop();
                        $(this).find('.alert').remove();
                    });

                    // Say hello to server
                    io();
                });
            </script>
        </div>
    </body>
</html>
