<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/assets/css/plyr.css">
        <link rel="stylesheet" href="/assets/css/app.css" />
        <script src="/assets/js/jquery-3.3.1.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/plyr.js"></script>
    </head>
    <body>
        <header>
            <h1>
                Derniers ralentis
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#replayModal" data-backdrop="static">Y'a litige !</button>
            </h1>
        </header>

        <div class="container-fluid">
            <div class="row">
                {% for replay in replays %}
                    <div class="col-3">
                        <div class="save">
                            <div class="corner"></div>
                            <div class="label">
                                {{ replay.recordedAt|date('d M Y') }}<br />
                                {{ replay.recordedAt|date('H:i') }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="modal fade" id="replayModal" tabindex="-1" role="dialog" aria-labelledby="replayModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <video id="player" height="100%" controls autoplay></video>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            <button type="button" class="btn btn-primary">Sauvergarder</button>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $(function() {
                    const player = new Plyr('#player', {
                        keyboard: { focused: true, global: true },
                        seekTime: .1,
                    });

                    $('#replayModal').on('show.bs.modal', function () {
                        $.get('/replay/5').done(function(result) {
                            player.source = {
                                type: 'video',
                                sources: [{
                                    src: result,
                                    type: 'video/mp4',
                                }],
                            };
                            player.play();
                        });
                    }).on('hide.bs.modal', function() {
                        player.stop();
                    });
                });
            </script>
        </div>
    </body>
</html>
