<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/assets/plyr/plyr.css">
        <link rel="stylesheet" href="/assets/css/app.css" />
        <script src="/assets/jquery/jquery.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/assets/plyr/plyr.min.js"></script>
        <script src="/assets/socket.io/socket.io.slim.js"></script>
    </head>
    <body>
        <header>
            <h1>
                Derniers ralentis
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#replayModal" data-backdrop="static">Y'a litige !</button>
            </h1>
        </header>

        <div class="container-fluid">
            <div id="replays" class="row">
                {% for replay in replays %}
                    <div class="col-3">
                        <a href="#" data-toggle="modal" data-target="#savedModal" data-backdrop="static" data-video="{{ replay.file }}">
                            <div class="save">
                                <div class="corner"></div>
                                <div class="label">
                                    {{ replay.recordedAt|date('d M Y') }}<br />
                                    {{ replay.recordedAt|date('H:i') }}
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <div class="modal fade" id="replayModal" tabindex="-1" role="dialog" aria-labelledby="replayModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <video class="player" height="100%" controls data-plyr-config='{"keyboard": {"focused": true, "global": true}, "seekTime": .1}'></video>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            <button type="button" id="save-replay" class="btn btn-primary">Sauvergarder</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="savedModal" tabindex="-1" role="dialog" aria-labelledby="savedModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <video class="player" height="100%" controls data-plyr-config='{"keyboard": {"focused": true, "global": true}}'></video>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $(function() {
                    const players = Plyr.setup('.player');
                    const [replayer, savedPlayer] = players;

                    $('#save-replay').on('click', function () {
                        $.post({
                            url: '/save',
                            dataType: 'json',
                            data: {
                                file: replayer.source
                            }
                        }).done(function (saved) {
                            $('#replayModal').find('.modal-body').prepend($('<div/>', {
                                'class': 'alert alert-success',
                                text: 'Replay sauvegardé !',
                            }));

                            $('#replays').append(`<div class="col-3">
                                <a href="#" data-toggle="modal" data-target="#savedModal" data-backdrop="static" data-video="${saved.file}">
                                    <div class="save">
                                        <div class="corner"></div>
                                        <div class="label">
                                            ${new Date(saved.recordedAt).toLocaleDateString()} <br>
                                            ${new Date(saved.recordedAt).toLocaleTimeString()}
                                        </div>
                                    </div>
                                </a>
                            </div>`);
                        }).fail(function (jqXHR) {
                            $('#replayModal').find('.modal-body').prepend($('<div/>', {
                                'class': 'alert alert-danger',
                                text: jqXHR.responseJSON.error,
                            }));
                        });
                    });

                    $('#replayModal').on('show.bs.modal', function () {
                        $.get('/replay/5').done(function(result) {
                            replayer.source = {
                                type: 'video',
                                sources: [{
                                    src: result,
                                    type: 'video/mp4',
                                }],
                            };
                            replayer.play();
                        });
                    }).on('hide.bs.modal', function() {
                        replayer.stop();
                        $(this).find('.alert').remove();
                    });

                    $('#savedModal').on('show.bs.modal', function (e) {
                        savedPlayer.source = {
                            type: 'video',
                            sources: [{
                                src: $(e.relatedTarget).data('video'),
                                type: 'video/mp4',
                            }],
                        };
                        savedPlayer.play();
                    }).on('hide.bs.modal', function() {
                        savedPlayer.stop();
                    });

                    // Say hello to server
                    io();
                });
            </script>
        </div>
    </body>
</html>
